.auditor-login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.auditor-login .overlap-wrapper {
  background-color: #ffffff;
  height: 720px;
  width: 1280px;
}

.auditor-login .overlap {
    background-image: url(../../res/background.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 720px;
  position: relative;
}

.auditor-login .background {
  height: 720px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1280px;
}

.auditor-login .carbon-byte {
  color: #ffffff;
  font-family: "Ethnocentric-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.auditor-login .text-wrapper {
  color: #ffffff;
  font-family: "Ethnocentric-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
}

.auditor-login .span {
  font-size: 30px;
}

.auditor-login .div {
  color: #ffffff;
  font-family: "Conthrax-SemiBold", Helvetica;
  font-size: 21px;
  font-weight: 600;
  left: 771px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
  white-space: nowrap;
}

.auditor-login .text-wrapper-2 {
  color: #ffffff;
  font-family: "Conthrax-SemiBold", Helvetica;
  font-size: 21px;
  font-weight: 600;
  left: 946px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
  white-space: nowrap;
}

.auditor-login .text-wrapper-3 {
  color: #ffffff;
  font-family: "Conthrax-SemiBold", Helvetica;
  font-size: 21px;
  font-weight: 600;
  left: 1165px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 41px;
  white-space: nowrap;
}

.auditor-login .text-wrapper-4 {
  color: #ffffff;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 40px;
  font-weight: 600;
  height: 60px;
  left: 452px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 170px;
}

.auditor-login .rectangle {
  background-color: #b3b0b0;
  border-radius: 15px;
  box-shadow: inset -5px 5px 4px 1px #00000040;
  height: 52px;
  left: 486px;
  position: absolute;
  top: 290px;
  width: 309px;
}

.auditor-login .text-wrapper-5 {
  color: #00000080;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 28px;
  left: 518px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 301px;
  white-space: nowrap;
  width: 244px;
}

.auditor-login .rectangle-2 {
  background-color: #b3b0b0;
  border-radius: 15px;
  box-shadow: inset -5px 5px 4px 1px #00000040;
  height: 52px;
  left: 486px;
  position: absolute;
  top: 401px;
  width: 309px;
}

.auditor-login .text-wrapper-6 {
  color: #00000080;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  height: 28px;
  left: 518px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 412px;
  white-space: nowrap;
  width: 244px;
}

.auditor-login .group {
  height: 52px;
  left: 570px;
  position: absolute;
  top: 524px;
  width: 142px;
}

.auditor-login .overlap-group {
  background-color: #ffffff;
  border-radius: 15px;
  height: 52px;
  position: relative;
  width: 140px;
}

.auditor-login .text-wrapper-7 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 25px;
  font-weight: 700;
  height: 38px;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
}
