@font-face {
  font-family: "Ethnocentric-Regular";
  src: url("../../fonts/ethnocentric-rg.otf") format("opentype");
}

@font-face {
  font-family: "Conthrax-SemiBold";
  src: url("../../fonts/conthrax-sb.otf") format("opentype");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins-Regular.ttf") format("tff");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../fonts/Poppins-SemiBold.ttf") format("tff");
}

.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.about .overlap-group-wrapper {
  background-color: #ffffff;
  height: inherit;
  width: inherit;
  position: relative;
  background-image: url(../../res/background.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.about .overlap-group {
  position: absolute;
  top: 0%;
  left: 8.5%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  width: fit-content;
}

.about .carbon-byte {
  color: #ffffff;
  font-family: "Ethnocentric-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: -100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -9px;
  white-space: nowrap;
}

.about .text-wrapper {
  color: #ffffff;
  font-family: "Ethnocentric-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0;
}

.about .span {
  font-size: 30px;
}

.about .div {
  color: #ffffff;
  font-family: "Conthrax-SemiBold", Helvetica;
  font-size: 21px;
  font-weight: 600;
  left: 1178px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 55px;
  white-space: nowrap;
}

.about .text-wrapper-3 {
  color: #ffffff;
  font-family: "Conthrax-SemiBold", Helvetica;
  font-size: 21px;
  font-weight: 600;
  left: 1302px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 55px;
  white-space: nowrap;
}

.about .p {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 21px;
  font-weight: 400;
  height: 328px;
  left: 607px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 204px;
  width: 599px;
  white-space: wrap;
  text-align: justify;
}

.about .image {
  height: 441px;
  left: 56px;
  mix-blend-mode: lighten;
  object-fit: cover;
  position: absolute;
  top: 148px;
  width: 431px;
  background-image: url("../../res/industry-about2.jpg");
  background-size: cover;
}

.about .ButtonWrapper {
  height: auto;
  left: 595px;
  top: 635px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
}

.about .ButtonWrapper .navPage1 {
  width: 3em;
  height: 3em;
  background: url("../../res/up\ arrow.svg") center no-repeat;
}
